.col-xs-4 {
    width: 100px;
    height: 50px;
    border: 2px solid red;
}
.col-sm-4 {
    width: 100px;
    height: 50px;
    border: 2px solid red;
}
.col-md-4 {
    width: 100px;
    height: 50px;
    border: 2px solid red;
}
.col-lg-4 {
    width: 100px;
    height: 50px;
    border: 2px solid red;
}
.col {
    width: 100px;
    height: 50px;
    border: 2px solid red;
}
.col-2 {
    width: 100px;
    height: 50px;
    border: 2px solid blue;
}
.col-6 {
    width: 100px;
    height: 50px;
    border: 2px solid blue;
}
.row {
    border: 2px solid red;
    height: 400px;
}